*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    
}

.header {
    margin-left: 16vh;
    margin-right: 16vh;
}

.name {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

li.nav-link>a {
    text-decoration: none;
    color: black;
}

.welcome-1 {
    font-size: 8rem;
    font-weight: 800;
    margin-top: 8vh;
    margin-left: 16vh;
    margin-right: 16vh;
}

.welcome-2 {
    font-size: 9rem;
    font-weight: 800;
    margin-left: 16vh;
    margin-right: 16vh;
}

.word {
    display: inline-block;
    overflow: hidden;
}

.about{
    margin-top: 16rem;
    background-color: black;
    color: aliceblue;
    padding-bottom: 6rem;
}

.container {
    background-color: aliceblue;
    border-radius: 60px;
    color: black;
    height: 600px;
    position: relative;
}

.line-1 {
    padding-top: 4rem;
}

.about-content {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 800;
}

.title-about {
    padding: 12vh;
}

.avatar {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 3rem;
}

@media screen and (max-width: 1903px) {
    .avatar {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        margin-right: 2rem;
        right:0;
        bottom:0;
    }
}
@media screen and (max-width: 1581px) {
.avatar {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.avatar>img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
}
}

.something {
    margin-top: 10rem;
    margin-left: 40vh;
    margin-right: 40vh;
}

.something-big {
    font-size: 36px;
    padding-left: 40px;
}



@media (prefers-reduced-motion: no-preference) {
    .item {
      animation: moveTop 2s ;
    }
  }



@keyframes moveTop {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

